
body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.container-1{
  border: 2px solid black;
padding: 20px;
text-align: center;
width: 70%;
position: absolute;
top: 30%;
border-radius: 10px;
background: snow;
box-shadow: 5px 5px 2px 5px gray;
}

.flex-container-1{

  padding: 2px;
  display: flex;
  justify-content: space-around;
}


.flex-items{
  display: flex;
  justify-content: center;
  align-items: center ;

}
